<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Vue 介绍</title>
  <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
  <style type="text/css">
    html, body {
      margin: 5px;
      padding: 0;
    }
  </style>
</head>
<body>
<div id="app1">
  <h5>site : {{site}}</h5>
  <h5>url : {{url}}</h5>
  <h5>{{details()}}</h5>

  <!-- 声明式渲染 -->
  <span v-bind:title="message">
    鼠标悬停几秒钟查看此处动态绑定的提示信息！
  </span>

  <!-- 条件与循环 -->
  <p v-if="seen">现在你看到我了</p>

  <ol>
    <li v-for="todo in todos">
      {{ todo.text }}
    </li>
  </ol>

  <!-- 处理用户输入 -->
  <p>{{ msg }}</p>
  <input v-model="msg">
  <br>
  <button v-on:click="reverseMsg">反转消息</button>

  <!-- 组件化构建 -->
  <ol>
    <todo-item v-for="item in groceryList"
               v-bind:todo="item"
               v-bind:key="item.id">
    </todo-item>
  </ol>
</div>
<script type="text/javascript">
  // 组件化构建
  Vue.component('todo-item', {
    props: ['todo'],
    template: '<li>{{ todo.text }}</li>'
  })

  var vm = new Vue({
    el: '#app1',
    data: {
      site: 'vue教程',
      url: 'cn.vuejs.org',
      alexa: '10000',
      message: '页面加载于 ' + new Date().toLocaleString(),
      seen: true,
      todos: [
        {text: '学习 JavaScript'},
        {text: '学习 Vuejs'},
        {text: '整合后端框架'}
      ],
      msg: 'Hello Vue.js',
      groceryList: [
        {id:0, text: "蔬菜"},
        {id:1, text: "奶酪"},
        {id:2, text: "水果"}
      ]
    },
    methods: {
      details: function () {
        return this.site + ' - 构建用户界面的渐进式框架'
      },
      reverseMsg: function () {
        this.msg = this.msg.split('').reverse().join('')
      }
    }
  })
</script>
</body>
</html>
